@import url('https://fonts.googleapis.com/css?family=Lato:300,400&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  padding: 10px;
  background: #333332;
  background: -webkit-linear-gradient(to right, #123, #fbfbfa);
  background: linear-gradient(to right, #134, #222218);
  font-family: 'Lato';
  line-height: 1.6;
  font-size: 1rem;
  color: #f4f4f4;
}

/* Utilities */
h1 {
  letter-spacing: 3px;
}

img {
  width: 100%;
}

.alert {
  text-align: center;
  padding: 15px;
  background: -webkit-linear-gradient(to right, #123, #fbfbfa);
  background: linear-gradient(to right, #134, #111107);
  width: 200px;
  color: #fff;
  margin: auto;
  transform: all 0.3 ease;
}

.cards,
.stats,
.spinner,
.error {
  display: flex;
  justify-content: center;
  max-width: 920px;
  margin: auto;
  flex-wrap: wrap;
}
.pokemon-card {
  margin: 10px;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.pokemon-card.flipped .inner {
  transform: rotateY(180deg);
}

.inner {
  position: relative;
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  transition: 0.6s cubic-bezier(0.38, 0.02, 0.09, 1.66) all;
}

.inner {
  border-radius: 5px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
}

.inner .front {
  background: #123;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
  transition: all 0.5s ease;
}

.card-outer {
  margin: 10px;
  width: 200px;
  height: 300px;
  perspective: 1000px;
}

.inner .front,
.inner .back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  margin: 5px 0px;
  border-radius: 5px;
}

.inner .front img {
  display: block;
  width: 80%;
  max-width: 100%;
}

.pokemon-card .front {
  transform: rotateY(180deg);
}

.pokemon-card .front:hover {
  background: #14283b;
}

.pokemon-card .back {
  background: #030302;
  transition: 0.5s ease all;
  cursor: pointer;
}

.pokemon-card .back:hover {
  background: #0e0e09;
  transform: scale(1.01);
}
